<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Служба заказа такси</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css"><script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
  </head>
  <body ng-app>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-4">
          <h1>Войти в систему</h1>
        </div>
      </div>
      <form class="form-horizontal form-enter">
        <fieldset>
          <div class="form-group">
            <label for="name" class="col-md-1 col-md-offset-3 control-label">Ваше имя:</label>
            <div class="col-md-4">
              <input id="name" name="email" type="text" placeholder="Введите email" required="" ng-model="name" class="form-control input-md">
            </div>
          </div>
          <div class="form-group">
            <label for="password" ng-model="password" class="col-md-1 col-md-offset-3 control-label">Пароль:</label>
            <div class="col-md-4">
              <input id="name" name="password" type="text" placeholder="Введите пароль" required="" class="form-control input-md">
            </div>
          </div>
          <div class="form-group">
            <label for="singlebutton" class="col-md-1 col-md-offset-3 control-label"></label>
            <div class="col-md-4">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary login-btn">Войти</button>
            </div>
          </div>
        </fieldset>
      </form>
      
    </div>
  </body>
</html>